# P-ROC Game Description file for Judge Dredd
PRGame:
    machineType: wpc
    numBalls: 6
PRPinmame:
    # This section is specific to running the P-ROC via Pinmame.

    # keyboard:
    #   on or off - determines whether keyboard will be enabled or not
    #   useful in a Sys11 in early debugging
    #   Note that this caused problems reading the ball trough on Demolition Man (WPC)

    # s11CreditDisplay and s11BallDisplay :
    #   If using a Sys11 game prior which has a separate Ball/Credit display, you can put them on the
    #   DMD.  If the value for a display is set to zero (or removed from YAML) it won't display.
    #   Otherwise it's the vertical position of the display from the top.  Try 1 and 15 for a start.

    # autoPatterDetection:
    #   on or off - by default, Pinmame will try to automatically detect patter requirements.
    #   there is a thread on the forum about this.  For Sys11 this should certainly be disabled,
    #   as it does nasty things.  Likely enable for other platforms but could be useful to disable.

    # doubleAlpha:
    #   0 or 1 - set to 1 if your machine has 2 lines of 16 character alphanumeric displays.
    #   This will adapt the code to properly handle the various display types in Sys11 machines (and a couple of WPC)

    # fullTroughDisablesFlippers:
    #   0 or 1 - Set to 1 to disable flippers when switches "trough1" through "troughX"
    #            are all active.
    keyboard: off
    autoPatterDetection: on
    s11CreditDisplay: 0
    s11BallDisplay: 0
    doubleAlpha: 0
    fullTroughDisablesFlippers: 0
PRFlippers:
    - flipperLwR
    - flipperLwL
    - flipperUpR
    - flipperUpL
PRBumpers:
    - slingL
    - slingR
PRSwitches:
    # **** Format ****
    # name:
    #   number: <number>
    #   type: <type>
    #
    #   <number> can be: SFx (Flipper switch, labeled Fx in WPC manual
    #                    SDx (Dedicated switch, labeled SDx in WPC manual
    #                    Sx  (Matrix switch, labeled x in WPC manual
    #   <type> can be: 'NO' (normally open.  This is the default; so no need to use this)
    #                  'NC' (normally closed.  Common for optos)
    flipperLwR:
        number: SF2
        ballsearch: stop
    flipperLwL: 
        number: SF4
        ballsearch: stop
    flipperUpR: 
        number: SF6
    flipperUpL: 
        number: SF8
    exit: 
        number: SD5
    down: 
        number: SD6
    up: 
        number: SD7
    enter: 
        number: SD8
    fireL:
        number: S11
    fireR:
        number: S12
    startButton:
        number: S13
    tilt:
        number: S14
    shooterL:
        number: S15
        ballsearch: reset,stop
        tags: tilt_visible
    outlaneL:
        number: S16
        tags: early_save
        ballsearch: reset
    inlaneL:
        number: S17
        ballsearch: reset
    threeBankTargets:
        number: S18
        ballsearch: reset
    slamTilt:
        number: S21
        tags: tilt_visible
    coinDoor:
        number: S22
    ticketDispenser:
        number: S23
    alwaysClosed:
        number: S24
    rightTopPost:
        number: S25
        ballsearch: reset
    captiveBall1:
        number: S26
        ballsearch: reset
    mystery:
        number: S27
        ballsearch: reset
    ballOnMagnet:
        number: S28
        tags: tilt_visible
    buyIn:
        number: S31
    leftRampEnter:
        number: S32
        type: 'NC'
        ballsearch: reset
    leftRollover:
        number: S33
        ballsearch: reset
    inlaneR:
        number: S34
        ballsearch: reset
    topCenterRollover:
        number: S35
        ballsearch: reset
    leftScorePost:
        number: S36
        ballsearch: reset
    subwayEnter1:
        number: S37
        ballsearch: reset
    subwayEnter2:
        number: S38
        ballsearch: reset
    shooterR:
        number: S41
        tags: shooter,tilt_visible
        ballsearch: reset,stop
    outlaneR:
        number: S42
        tags: early_save
        ballsearch: reset
    inlaneFarR:
        number: S43
        ballsearch: reset
    superGame:
        number: S44
    s45:
        number: S45
    s46:
        number: S46
    s47:
        number: S47
    s48:
        number: S48
    slingL: 
        number: S51
        ballsearch: reset
    slingR: 
        number: S52
        ballsearch: reset
    captiveBall2:
        number: S53
        ballsearch: reset
    dropTargetJ:
        number: S54
        type: 'NC'
        ballsearch: reset
    dropTargetU:
        number: S55
        type: 'NC'
        ballsearch: reset
    dropTargetD:
        number: S56
        type: 'NC'
        ballsearch: reset
    dropTargetG:
        number: S57
        type: 'NC'
        ballsearch: reset
    dropTargetE:
        number: S58
        type: 'NC'
        ballsearch: reset
    globePosition1: 
        number: S61
        type: 'NO' # Manual says NC
        tags: tilt_visible
    craneRelease: 
        number: S62
        type: 'NC'
        ballsearch: reset
        tags: tilt_visible
    leftRampToLock:
        number: S63
        type: 'NC'
        ballsearch: reset
    leftRampExit:
        number: S64
        type: 'NC'
        ballsearch: reset
    rightRampEnter:
        number: S65
        type: 'NC'
        ballsearch: reset
    centerRampExit:
        number: S66
        type: 'NC'
        ballsearch: reset
    leftRampEnterAlt:
        number: S67
        type: 'NC'
        ballsearch: reset
    captiveBall3:
        number: S68
        ballsearch: reset
    magnetOverRing:
        number: S71
        type: 'NO' # Manual says NC
        tags: tilt_visible
    topRightOpto:
        number: S72
        type: 'NC'
        ballsearch: reset
    popperL:
        number: S73
        type: 'NC'
        tags: tilt_visible
        # special code is needed in ball search to handle the ball cup blocking the opto
        # ballsearch: reset,stop
    popperR:
        number: S74
        type: 'NC'
        tags: tilt_visible
        # special code is needed in ball search to handle the ball cup blocking the opto
        # ballsearch: reset,stop
    topRampExit:
        number: S75
        type: 'NC'
        ballsearch: reset
    rightRampExit:
        number: S76
        type: 'NC'
        ballsearch: reset
    globePosition2:
        number: S77
        type: 'NO' # Manual says NC
        tags: tilt_visible
    s78:
        number: S78
    trough1:
        number: S81
        type: 'NC'
        tags: trough
        ballsearch: reset
    trough2:
        number: S82
        type: 'NC'
        tags: trough
    trough3:
        number: S83
        type: 'NC'
        tags: trough
    trough4:
        number: S84
        type: 'NC'
        tags: trough
    trough5:
        number: S85
        type: 'NC'
        tags: trough
    trough6:
        number: S86
        type: 'NC'
        tags: trough
    troughTop:
        number: S87
        type: 'NC'
    s88:
        number: S88
PRCoils:
    flipperLwRMain: 
        number: FLRM
    flipperLwRHold: 
        number: FLRH
    flipperLwLMain: 
        number: FLLM
    flipperLwLHold: 
        number: FLLH
    flipperUpRMain: 
        number: FURM
    flipperUpRHold: 
        number: FURH
    flipperUpLMain: 
        number: FULM
    flipperUpLHold: 
        number: FULH
    craneMagnet:
        number: C01
    popperL:
        number: C02
        ballsearch: True
    popperR:
        number: C03
        ballsearch: True
    crane:
        number: C04
    resetDropTarget:
        number: C05
    globeMotor:
        number: C06
    knocker:
        number: C07
    shooterR:
        number: C08
        ballsearch: True
    shooterL:
        number: C09
        ballsearch: True
    tripDropTarget:
        number: C10
    diverter:
        number: C11
    trough:
        number: C13
    slingL: 
        number: C15
        ballsearch: True
    slingR: 
        number: C16
        ballsearch: True
    flasherFire:
        number: C17
    flasherFear:
        number: C18
    flasherDeath:
        number: C19
    flasherMortis:
        number: C20
    flasherPursuitL:
        number: C21
    flasherPursuitR:
        number: C22
    flasherBlackout:
        number: C23
    flasherCursedEarth:
        number: C24
    flashersLowerLeft:
        number: C25
    flasherGlobe:
        number: C26
    flashersRtRamp:
        number: C27
    flashersInsert:
        number: C28
PRLamps:
    perp1W:
        number: L11
    perp1R:
        number: L12
    perp1Y:
        number: L13
    perp1G:
        number: L14
    perp2W:
        number: L15
    perp2R:
        number: L16
    perp2Y:
        number: L17
    perp2G:
        number: L18
    perp4W:
        number: L21
    perp4R:
        number: L22
    perp4Y:
        number: L23
    perp4G:
        number: L24
    perp5W:
        number: L25
    perp5R:
        number: L26
    perp5Y:
        number: L27
    perp5G:
        number: L28
    perp3W:
        number: L31
    perp3R:
        number: L32
    perp3Y:
        number: L33
    perp3G:
        number: L34
    lock1:
        number: L35
    lock2:
        number: L36
    lock3:
        number: L37
    superGame:
        number: L38
    crimeLevel4:
        number: L41
    crimeLevel3:
        number: L42
    crimeLevel2:
        number: L43
    crimeLevel1:
        number: L44
    meltdown:
        number: L45
    impersonator:
        number: L46
    battleTank:
        number: L47
    stopMeltdown:
        number: L48
    stakeout:
        number: L51
    safecracker:
        number: L52
    pursuit:
        number: L53
    ultChallenge:
        number: L54
    manhunt:
        number: L55
    blackout:
        number: L56
    sniper:
        number: L57
    pickAPrize:
        number: L58
    extraBall2:
        number: L61
    rightStartFeature:
        number: L62
    tankCenter:
        number: L63
    awardSniper:
        number: L64
    airRaid:
        number: L65
    leftCenterFeature:
        number: L66
    tankLeft:
        number: L67
    mystery:
        number: L68
    dropTargetJ:
        number: L71
    dropTargetU:
        number: L72
    dropTargetD:
        number: L73
    dropTargetG:
        number: L74
    dropTargetE:
        number: L75
    awardSafecracker:
        number: L76
    multiballJackpot:
        number: L77
    awardBadImpersonator:
        number: L78
    awardStakeout:
        number: L81
    blackoutJackpot:
        number: L82
    drainShield:
        number: L83
        tags: shoot_again
    judgeAgain:
        number: L84
    advanceCrimeLevel:
        number: L85
    tankRight:
        number: L86
    buyIn:
        number: L87
    startButton:
        number: L88
    gi01:
        number: G01
    gi02:
        number: G02
    gi03:
        number: G03
    gi04:
        number: G04
    gi05:
        number: G05
